@charset "utf-8";
/* CSS Document */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd{ margin:0; padding:0;}
img{ vertical-align:top; border:none;}
li{ list-style:none;}
a{ color:#666; text-decoration:none;}


.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
body{ font:12px 'microsoft yahei';}

